* {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
}

body {
    background-image: url('/images/background.jpg');
    
}

header {
    height: 100px;
    width: 100%;
}

#title {
    height: 130px;
    width: 38%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    background-color: white;
}

#title h1 {
    padding-top: 25px;
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
}

#play-btn-container {
    height: 25rem;
    width: 100%;
    margin-top: 10px;
}

#play-btn-container button{
    margin-top: 20%;
}

#game-container {
    margin-top: 10px;
    display: none;
}

#scores {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0 15px 0;
    display: flex;
    justify-content: space-between;
}

.score {
    
    width: 150px;
    height: 100px;
    display: inline-block;
}

.score h2 {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    padding: 10px 0 10px 0;
    color: white;
}

.score p {
    font-size: 25px;
    padding-top: 10px;
    color: white;
}

#roundResults {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

#roundResults h2 {
   font-size: 25px;
   font-weight: bold;
   color: white;
}

#options {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
}

.option {
    display: inline-block;
    border: solid black 1px;
    transition: 0.5s;
    overflow: hidden;
}

#rock {
    background-image: url('/images/rock.jpeg');
    width: 151px;
    height: 125px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#paper {
    background-image: url('/images/paper.jpg');
    width: 151px;
    height: 125px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#scissors {
    background-image: url('/images/scissors.jpg');
    width: 151px;
    height: 125px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.option:hover {
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

img {
    width: 151px;
    height: 125px;
    
}

#chosen-option {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 20px;
}

.choice {
  display: inline-block;
  height: 120px;
  width: 250px;
}

.choice h3 {
   font-size: 20px;
   font-weight: bold;
   font-style: italic;
   margin: 20px 0 20px 0;
   color: white;
}

.choice p {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    color: white;
}

#next-round {
    width: 50%;
    margin: 45px auto 0 auto;
    height: 50px;
    display: flex;
    justify-content: center;
}

#gameResultsContainer {
    height: 15rem;
    width: 100%;
    margin-top: 10px;
    display: none;
}

#gameResults {
    margin: 10% auto 0 auto;
}

#gameResults h1{
    font-size: 32px;
    font-weight: bolder;
    color: white;
}

#playAgainBtn {
    margin-top: 0px;
    display: none;
}




